@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    ViewBag.Title = "Trang chủ";
    var _Template_Path = "~/Content/front/";
    var SanPham_List = (List<qdtest.Models.SanPham>)ViewBag.SanPham_List;
    var timkiem_sanpham = (HttpCookie)ViewBag.timkiem_sanpham;
}
<div id="content" class="float_r">
        	<div id="slider-wrapper">
                <div id="slider" class="nivoSlider">
                    <img src="@Url.Content(_Template_Path + "images/slider/02.jpg")" alt="" />
                    <a href="#"><img src="@Url.Content(_Template_Path + "images/slider/01.jpg")" alt="" title="This is an example of a caption" /></a>
                    <img src="@Url.Content(_Template_Path + "images/slider/03.jpg")" alt="" />
                    <img src="@Url.Content(_Template_Path + "images/slider/04.jpg")" alt="" title="#htmlcaption" />
                </div>
                <div id="htmlcaption" class="nivo-html-caption">
                    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
                </div>
            </div>
            <script type="text/javascript" src="@Url.Content(_Template_Path + "js/jquery-1.4.3.min.js")"></script>
            <script type="text/javascript" src="@Url.Content(_Template_Path + "js/jquery.nivo.slider.pack.js")"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('#slider').nivoSlider();
                });
            </script>
        	<h1>Sản phẩm mới</h1>
                @{
                    var i=1;
                   foreach(var item in SanPham_List)
                    {
                        
                       if(i%3==0)
                       {
                      @:<div class="product_box no_margin_right">
                       }
                       else 
                       {
                      @:<div class="product_box">
                       }
                       
            	        <a href="@Url.Action("Index","FrontSanPhamDetail",new { id = item.id})"><img src="@Url.Content("~/_Upload/HinhAnh/"+item._get_hinhanh_macdinh().duongdan_thumb)" style="max-width:200px; height:150px" alt="Shoes @i" /></a>
                        
                        <a href="@Url.Action("Index","FrontSanPhamDetail",new { id = item.id})"><h3>@item.ten</h3></a>
                        <p class="product_price">@item.gia đ</p>
                        <a href="shoppingcart.html" class="addtocart"></a>
                        <a href="productdetail.html" class="detail"></a>
                        @: </div>   
                        if(i%3==0)
                       {               
                     @: <div class="cleaner"></div>      	
                       }
                        i++;
                    }
                }
            <div class="qd_pagination">
                @for (int tmp = 1; tmp <= ViewBag.Total_page; tmp++)
                {
                    @: <a href="@Url.Action("Index", "FrontTimKiem", new { page =  tmp} ) ">@tmp</a>
                }
                @if(ViewBag.CanPrevPage==true)
                {
                @: <a href="@Url.Action("Index", "FrontTimKiem", new { page =  ViewBag.Current_Page - 1 })">Prev</a>
                }
                @if(ViewBag.CanNextPage==true)
                {
                @: <a href="@Url.Action("Index", "FrontTimKiem", new { page =  ViewBag.Current_Page + 1 })">Next</a>
                }

            </div>
</div>  	

