@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    var sanpham = (qdtest.Models.SanPham)ViewBag.SanPhamDetail;
    var listsplienquan = (List<qdtest.Models.SanPham>)ViewBag.SanPhamRelate;
}
<div id="content" class="float_r">
    <script type="text/javascript">
        var ctsp_list = new Array();
        @foreach(var item in sanpham.ds_chitietsp)
        {
            @: var ctsp = new Object();
            @: ctsp.id_ctsp = "@item.id";
            @: ctsp.id_mausac = "@item.mausac.id";
            @: ctsp.id_kichthuoc = "@item.kichthuoc.id";
            @: ctsp.soluong = "@item.soluong";
            @: ctsp_list.push(ctsp);    
        }
        var kichthuoc_list = new Array();        var mausac_list = new Array();        var mausac = new Object();        var kichthuoc = new Object();        var current_id = "";        var limit = 0;        function kim(s) {
            var id = "color" + s;
            if (current_id != "") {
                //alert(document.getElementById(id).className);
                document.getElementsByClassName("colorselect")[0].className = "colordeselect";
                document.getElementById(id).className = "colorselect";
            }
            for(var i=0;i<mausac_list.length;i++)
            {
                
                if (mausac_list[i].id == s) {
                    // alert(mausac_list[i].mamau);
                    current_id = s;
                    document.getElementById("kt").innerHTML = "";
                    for (var j = 0; j < mausac_list[i].ds_kichthuoc.length; j++) {
                       // alert(mausac_list[i].ds_kichthuoc[j].giatri);
                        var kim = mausac_list[i].ds_kichthuoc[j];
                        if(j==0)
                            document.getElementById("kt").innerHTML += '<a class="sizeselect" id="size' + kim.id + '" onclick="kim2(\'' + kim.id + '\')"><span>' + kim.giatri + '</span></a>';
                        else document.getElementById("kt").innerHTML += '<a class="sizedeselect" id="size' + kim.id + '" onclick="kim2(\'' + kim.id + '\')"><span>' + kim.giatri + '</span></a>';
                    }
                    kim2(mausac_list[i].ds_kichthuoc[0].id);
                }
            }
           }
           function kim2(s) {
               var id = "size" + s;
            //   alert(id);
               document.getElementsByClassName("sizeselect")[0].className = "sizedeselect";
               document.getElementById(id).className = "sizeselect";
               for (var i = 0; i < ctsp_list.length; i++) {
                   var k = ctsp_list[i];
                   if (k.id_kichthuoc == s && k.id_mausac == current_id) {
                      // alert(k.id_ctsp);
                       //  alert(document.getElementById("ctsp_id").value);
                       limit = k.soluong;
                       if (k.soluong > 3) {
                           document.getElementById("soluong").value = 1;
                           document.getElementById("sl").disabled = false;
                           document.getElementById("sl").value = 1;
                           document.getElementById("state").innerHTML = '<span style="color:green"><b>Còn hàng</b></span>';
                           document.getElementById("ctsp_id").value = k.id_ctsp;
                       }
                       else if(k.soluong > 0 && k.soluong <=3)
                       {
                           document.getElementById("soluong").value = 1;
                           document.getElementById("sl").disabled = false;
                           document.getElementById("sl").value = 1;
                           document.getElementById("state").innerHTML = '<span style="color:orange"><b>Còn '+k.soluong+' sản phẩm</b></span>';
                           document.getElementById("ctsp_id").value = k.id_ctsp;
                       }
                       else if (k.soluong == 0) {
                           document.getElementById("state").innerHTML = '<span style="color:red"><b>Hết hàng</b></span>';
                           document.getElementById("sl").value = 0;
                           document.getElementById("sl").disabled = true;
                           document.getElementById("soluong").value = 0;
                          
                       }
                       //alert(document.getElementById("ctsp_id").value);
                       
                   }
               }
           }
           function kim3(s) {
               //       alert(document.getElementById("soluong").value);
               if (isNaN(s)) {
                   alert("Số lượng nhập phải là một số");
                   document.getElementById("sl").value = 1;
                   document.getElementById("sl").focus();
                   return false;
               }else if (s <= 0 || s > 3) {
                   alert("Số lượng đặt phải từ 1 đến 3 sản phẩm");
                   document.getElementById("sl").value = 1;
                   document.getElementById("sl").focus();
                   return false;
               } else if (s > limit) {
                   alert("Số lượng đặt vượt quá số lượng tồn của sản phẩm");
                   document.getElementById("sl").value = 1;
                   document.getElementById("sl").focus();
                   return false;
               } else { document.getElementById("soluong").value = s; }
               return true;
          //     alert(document.getElementById("soluong").value);
           }
           function kim4() {
               if (document.getElementById("soluong").value != 0) order_frm.submit();
               else alert("Rất tiếc, sản phẩm này đã hết hàng, xin vui lòng chọn sản phẩm khác!");
           }
    </script>
    <style type="text/css">  
        .kim_color canvas.colordeselect
        {
            opacity:0.5;
             filter:alpha(opacity=50);
            border:1px solid #000;
            height:18px;
            width:18px;
        }
        .kim_color canvas.colordeselect:hover
        {
             opacity:1;
             filter:alpha(opacity=100);
             border:1px solid #000;
             height:20px;
            width:20px;
        }
        .kim_color canvas.colorselect
        {
             /*opacity:0.5;
             //filter:alpha(opacity=50);*/
             border:1px solid #000;
             height:20px;
            width:20px;
        }
        .size a.sizedeselect
        {
            border: 1px solid #d2d2d2;
            color: #000000;
            float: left;
            height: 18px;      
            font-size:13px;
            text-align: center;
            text-decoration: none;
            width: 18px;
            margin-right:4px;
        }
        .size a:hover
        {
            margin-right:4px;
            border: 1px solid #5eb0ff ;
            background: #fff;
            color: #1e90ff;
            float: left;
            height: 18px;      
            font-size:13px;
            text-align: center;
            text-decoration: none;
            width: 18px;
        }
         .size a.sizeselect
        {
            margin-right:4px;
            border: 1px solid #5eb0ff ;
            background: #fff;
            color: #1e90ff;
            float: left;
            height: 18px;      
            font-size:13px;
            text-align: center;
            text-decoration: none;
            width: 18px;
        }
        .detail tr td
        {
            color:#000000;
            font-size:14px;
        }
    </style>
        	<h1>@sanpham.ten</h1>
            <div class="content_half float_l">
        	<a id="qd_main_a_tag" rel="lightbox[portfolio]" href="@Url.Content("~/_Upload/HinhAnh/" + sanpham._get_hinhanh_macdinh().duongdan)"><img id="qd_main_img_tag"  src="@Url.Content("~/_Upload/HinhAnh/" + sanpham._get_hinhanh_macdinh().duongdan_thumb)" alt="image" style="max-width:250px;max-height:250px"/></a>
            </div>
            <div class="content_half float_r">
                <table class="detail">
                    <tr>
                        <td style="width:160px">Mã sản phẩm:</td>
                        <td>@sanpham.masp</td>
                    </tr>
                    <tr>
                        <td>Tình trạng:</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>Giá:</td>
                        <td>@sanpham.gia đ</td>
                    </tr>
                    <tr>
                        <td>Hãng sản xuất:</td>
                        <td>@sanpham.hangsx.ten</td>
                    </tr>
                    <tr>
                    	<td>Bảo hành:</td>
                        <td>1 năm</td>
                    </tr>
                    <tr>
                    	<td>Màu sắc:</td>
                        <td class="kim_color">
                            @{
                              
                                List<qdtest.Models.ChiTietSP> list = sanpham.ds_chitietsp.OrderBy(x => x.mausac.id).ToList();
                                if(list.Count>0)
                                {
                                //String[] tmp=new String[list.GroupBy(x=>x.mausac.id).Count()];
                                qdtest.Models.MauSac[] temp = new qdtest.Models.MauSac[list.GroupBy(x => x.mausac.id).Count()];
                                temp[0] = list[0].mausac;
                                //var dict = new Dictionary<string, string>();
                                var d = new Dictionary<qdtest.Models.MauSac, List<qdtest.Models.KichThuoc>>();
                                d[temp[0]] = new List<qdtest.Models.KichThuoc>();
                                var k=0;
                                foreach(var item in list)
                                {
                                    if(item.mausac.id!=temp[k].id)
                                    {
                                        k++;
                                        temp[k] = item.mausac;
                                        d[temp[k]] = new List<qdtest.Models.KichThuoc>();
                                        d[temp[k]].Add(item.kichthuoc);
                                    }
                                    else { d[temp[k]].Add(item.kichthuoc); }
                                }
                                k=0;
                                var pre="color";
                                foreach(var item in temp)
                                {
                                    int h = d[item].Count;
                                    
                                    if(k==0)
                                    {  
                                        @:<canvas class="colorselect" style="background-color:@item.mamau" id="@pre@item.id"  onclick="kim('@item.id')"></canvas>
                                            k++;
                                    }
                                    else
                                    { 
                                        @:<canvas class="colordeselect" style="background-color:@item.mamau" id="@pre@item.id"  onclick="kim('@item.id')"></canvas>
                                    }
                                    
                                
                                    <script type="text/javascript" hidden="hidden">
                                        $(document).ready(function () {
                                            mausac = new Object();
                                            mausac.id = "@item.id";
                                            mausac.mamau = "@item.mamau";
                                            mausac.ten = "@item.giatri";
                                            mausac.ds_kichthuoc = new Array();
                                            @foreach(var itk in d[item]){    
                                            @:kichthuoc=new Object();
                                            @:kichthuoc.id="@itk.id";
                                            @:kichthuoc.giatri="@itk.giatri";
                                            @:mausac.ds_kichthuoc.push(kichthuoc);   
                                            }
                                            mausac_list.push(mausac);
                                            if (current_id == "") kim('@temp[0].id');
                                        })                                </script>
                                }
                                }
                                else{<text>Chưa có</text>}
                            }
                           
                        </td>
                    </tr>
                    <tr>
                       
                        <td>Kích thước:</td>
                        <td id="kt" class="size">
                           Chưa có
                        </td>
                    </tr>
                    <tr>
                       
                        <td>Tình trạng:</td>
                        <td id="state" >
                          
                        </td>
                    </tr>
                    <tr>
                    	<td>Số lượng đặt: </td>
                        <td><input id="sl" type="text" value="1" style="width: 20px; text-align: right" onchange="return kim3(this.value);" /></td>
                    </tr>
                </table>
                <div class="cleaner h20"></div>
                <form id="order_frm" action="@Url.Action("Add_Or_Update","FrontCart")" method="post">
                    <input  type="hidden" id="ctsp_id" name="giohang_chitietsp_id" value="0" />
                    <input type="hidden" id="sanpham_id" name="giohang_sanpham_id" value="@sanpham.id" />
                    <input  type="hidden" id="soluong" name="giohang_soluong" value="1" />
                <a class="addtocart"  id="btnsubmit" onclick="kim4()"></a>
                    </form>
			</div>
            <div class="cleaner h30"></div>
            <script type="text/javascript">
                function qd_replace_main(sender)
                {
                    document.getElementById('qd_main_a_tag').href = sender.getAttribute("alt");
                    document.getElementById('qd_main_img_tag').src = sender.getAttribute("src");
                    document.getElementsByClassName("qd_image_div qd_main")[0].className = "qd_image_div";
                    document.getElementById(sender.getAttribute("id")).className = "qd_image_div qd_main";
                }
            </script>
            <style type="text/css">
                .qd_image_div {
                    float:left;
                    padding:5px;
                    border: solid 1px #808080;
                    margin-bottom: 7px;
                    margin-right: 7px;
                }
                .qd_image_div img{
                    height:70px;
                    opacity:0.5;
                    filter:alpha(opacity=50); /* For IE8 and earlier */
                }
                .qd_main {
                  /* border: solid 1px #0026ff;*/
                  border: solid 1px #1e90ff ;
                }
                .qd_main img{
                    opacity:1;
                    filter:alpha(opacity=100);
                    }
                .qd_image_div img:hover {
                    border: 0px;
                    opacity:1;
                    filter:alpha(opacity=100); /* For IE8 and earlier */
                }
            </style>
        <div class="qd_sanpham_list_hinhanh">
               @{
                   foreach (var hinh in sanpham.ds_hinhanh.ToList())
                   {
                        <!-- alt: hình gốc, src: hình thumb -->
                       if (hinh.duongdan_thumb == sanpham._get_hinhanh_macdinh().duongdan_thumb)
                       {
                       @: <div id="@hinh.id" class="qd_image_div qd_main">
                       }
                       else
                       {
                       @: <div id="@hinh.id" class="qd_image_div">
                       }                           <a rel="lightbox[portfolio]" href="@Url.Content("~/_Upload/HinhAnh/" + hinh.duongdan)" style="display:none"></a>
                        <img id="@hinh.id" alt="@Url.Content("~/_Upload/HinhAnh/" + hinh.duongdan)" src="@Url.Content("~/_Upload/HinhAnh/" + hinh.duongdan_thumb)" style="width:100px; height:70px" onclick="qd_replace_main(this)"/>
                       @:</div>
                   }
                   }
                <div style="clear:both;"></div>
        </div>
            <br />
            <h5 style="font-size:20px">Mô tả sản phẩm</h5>
            <p>@Html.Raw(sanpham.mota)</p>	
          <div class="cleaner h50"></div> 
            <h3>Sản phẩm liên quan</h3>
            @{
                int i = 1;
                foreach (var item in listsplienquan)
                {
                    if (item.id != sanpham.id)
                    {
                        if (i % 3 == 0)
                        {
                      @:<div class="product_box no_margin_right">
                       }
                        else
                        {
                      @:<div class="product_box">
                       }
                     
            	<a href="@Url.Action("Index", "FrontSanPhamDetail", new { id = item.id })"><img src="@Url.Content("~/_Upload/HinhAnh/" + item._get_hinhanh_macdinh().duongdan_thumb)" style="max-width:200px; max-height:150px" alt="Shoes @i" /></a>
                <h3>@item.ten</h3>
                <p class="product_price">@item.gia đ</p>
                var ctspid = 0;
                        foreach (var kt in item.ds_chitietsp)
                        {
                            if (kt.soluong > 0) { ctspid = kt.id; break; }
                        }
                    if(ctspid==0)
                    {
                        <a href="" onclick="alert('Rất tiếc, sản phẩm này đã hết hàng, xin vui lòng chọn sản phẩm khác!');" class="addtocart"></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Add_Or_Update", "FrontCart", new { sanphamid = item.id, ctsp_id = ctspid, soluong = 1 })" class="addtocart"></a>}
                         <a href="@Url.Action("Index", "FrontSanPhamDetail", new { id = item.id })" class="detail"></a>
                @:</div> 
               if (i % 3 == 0)
               {               
                     @: <div class="cleaner"></div>      	
                       }
                    i++;
                }
                }
            }
</div>
