@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var PhanHoi_List = (List<qdtest.Models.PhanHoi>)ViewBag.PhanHoi_List;
    var timkiem_phanhoi = (HttpCookie)ViewBag.timkiem_phanhoi;
    var phanhoi = (qdtest.Models.PhanHoi)ViewBag.phanhoi;
    var State = (List<string>)ViewBag.State;
    var pagination = (qdtest.Models.Pagination)ViewBag.pagination;
    var nhanvien = (qdtest.Models.NhanVien)ViewBag.Current_User;
}

<div id="main">
	<div id="content">
        @if(State.Contains("send_ok"))
        {
            <div class="conf">
		        Email được gửi thành công!
	        </div>        }
		<script type="text/javascript">
		    $(document).ready(function () {
		        $('table.category .filter').keypress(function (event) {
		            formSubmit(event, 'submitFilterButtoncategory')
		        })
		    });
	</script>
		<script type="text/javascript">
		    $(function () {
		        if ($("table.category .datepicker").length > 0)
		            $("table.category .datepicker").datepicker({
		                prevText: '',
		                nextText: '',
		                dateFormat: 'yy-mm-dd'
		            });
		    });
	</script>
		<div class="toolbar-placeholder">
			<div class="toolbarBox toolbarHead">
				<ul class="cc_button">
                    
				</ul>
				<script language="javascript" type="text/javascript">
				    //<![CDATA[
				    var submited = false
				    var modules_list_loaded = false;
				    $(function () {
				        //get reference on save link
				        btn_save = $('span[class~="process-icon-save"]').parent();
				        //get reference on form submit button
				        btn_submit = $('#category_form_submit_btn');
				        if (btn_save.length > 0 && btn_submit.length > 0) {
				            //get reference on save and stay link
				            btn_save_and_stay = $('span[class~="process-icon-save-and-stay"]').parent();
				            //get reference on current save link label
				            lbl_save = $('#desc-category-save div');
				            //override save link label with submit button value
				            if (btn_submit.val().length > 0)
				                lbl_save.html(btn_submit.attr("value"));
				            if (btn_save_and_stay.length > 0) {
				                //get reference on current save link label
				                lbl_save_and_stay = $('#desc-category-save-and-stay div');
				                //override save and stay link label with submit button value
				                if (btn_submit.val().length > 0 && lbl_save_and_stay && !lbl_save_and_stay.hasClass('locked')) {
				                    lbl_save_and_stay.html(btn_submit.val() + " and stay ");
				                }
				            }
				            //hide standard submit button
				            btn_submit.hide();
				            //bind enter key press to validate form
				            $('#category_form').keypress(function (e) {
				                if (e.which == 13 && e.target.localName != 'textarea')
				                    $('#desc-category-save').click();
				            });
				            //submit the form
				            btn_save.click(function () {
				                // Avoid double click
				                if (submited)
				                    return false;
				                submited = true;
				                //add hidden input to emulate submit button click when posting the form -> field name posted
				                btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + '" value="1" />');
				                $('#category_form').submit();
				                return false;
				            });
				            if (btn_save_and_stay) {
				                btn_save_and_stay.click(function () {
				                    //add hidden input to emulate submit button click when posting the form -> field name posted
				                    btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + 'AndStay" value="1" />');
				                    $('#category_form').submit();
				                    return false;
				                });
				            }
				        }
				        if (0)
				            openModulesList();
				    });
				    $('.process-icon-modules-list').parent('a').unbind().bind('click', function () {
				        openModulesList();
				    });
				    function openModulesList() {
				        $('#modules_list_container').slideDown();
				        if (!modules_list_loaded) {
				            $.ajax({
				                type: "POST",
				                url: 'index.php?controller=AdminModules&token=9979b7fa2b0ec644bc06d7fd1e9c4d20',
				                async: true,
				                data: {
				                    ajax: "1",
				                    controller: "AdminModules",
				                    action: "getTabModulesList",
				                    tab_modules_list: '',
				                    back_tab_modules_list: 'index.php?controller=AdminCategories&token=9ef14dab525282a252161bbae087bd5b'
				                },
				                success: function (data) {
				                    $('#modules_list_container_tab').html(data).slideDown();
				                    $('#modules_list_loader').hide();
				                    modules_list_loaded = true;
				                }
				            });
				        }
				        else {
				            $('#modules_list_container_tab').slideDown();
				            $('#modules_list_loader').hide();
				        }
				        return false;
				    }
				    //]]>
			</script>
				<div class="pageTitle">
					<h3>
					<span id="current_obj" style="font-weight: normal;">
					<span class="breadcrumb item-0 ">Khách hàng <img alt=">" style="margin-right:5px" src="../img/admin/separator_breadcrumb.png"> </span>
					<span class="breadcrumb item-1 ">Phản hồi </span>
					</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="leadin">
			
		</div>
		<form method="post" action="@Url.Action("Submit","AdminPhanHois")" class="form">
			<table class="table_grid" name="list_table">
			<tbody>
			<tr>
				<td style="vertical-align: bottom;">
					<span style="float: left;">
					    @if (pagination.can_first_page)
                        {
                            <text>
                                <img src="../img/admin/list-prev2.gif" onclick="document.location='@Url.Action("Index", "AdminPhanHois", new { page = 1 })'"/>
                                &nbsp;&nbsp;
                            </text>
                        }
                        @if (pagination.can_prev_page)
                        {
                            <text>
                                <img src="../img/admin/list-prev.gif" onclick="document.location='@Url.Action("Index", "AdminPhanHois", new { page = pagination.current_page - 1 })'"/>
                                &nbsp;&nbsp;
                            </text>
                        }
                        Trang <b>@pagination.current_page</b> / @pagination.total_page
                        @if (pagination.can_next_page)
                        {
                            <text>
                            &nbsp;&nbsp;
                            <img src="../img/admin/list-next.gif" onclick="document.location='@Url.Action("Index", "AdminPhanHois", new { page = pagination.current_page + 1 })'"/>
                            &nbsp;&nbsp;
                            </text>
                        }
                        @if (pagination.can_last_page)
                        {
                            <text>    
                            <img src="../img/admin/list-next2.gif" onclick="document.location='@Url.Action("Index", "AdminPhanHois", new { page = pagination.total_page})'"/>
                            &nbsp;
                            </text>
                        }
                        | Hiển thị
                        
					    <select name="phanhoi_max_item_per_page" onchange="submit()">
						    <option value="5" @if(timkiem_phanhoi["max_item_per_page"].Equals("5")) {<text>selected="selected"</text>} >5</option>
						    <option value="10" @if(timkiem_phanhoi["max_item_per_page"].Equals("10")) {<text>selected="selected"</text>}>10</option>
						    <option value="20" @if(timkiem_phanhoi["max_item_per_page"].Equals("20")) {<text>selected="selected"</text>}>20</option>
						    <option value="50" @if(timkiem_phanhoi["max_item_per_page"].Equals("50")) {<text>selected="selected"</text>}>50</option>
                            <option value="100" @if(timkiem_phanhoi["max_item_per_page"].Equals("100")) {<text>selected="selected"</text>}>100</option>
					    </select>
					     / kết quả trên 1 trang
					</span>

					<span style="float: right;">
					<input id="submitFilterButtoncategory" name="submitFilter" value="Tìm kiếm" class="button" type="submit">
					<input name="submit_reset" value="Reset" class="button" type="submit">
					</span>
					<span class="clear"></span>
				</td>
			</tr>
			<tr>
				<td>
					<table id="category" class="table category" style="width: 100%; margin-bottom:10px;" cellpadding="0" cellspacing="0">
					<colgroup>
                        <col width="10px">
					    <col width="20px">
					    <col width="300px">
					    <col>
                        <col width="100px">
					    <col width="100px">
					    <col width="70px">
					</colgroup>
					<thead>
					<tr class="nodrag nodrop" style="height: 40px">
						<th class="center">
						</th>
						<th class="center">
							<span class="title_box">
							ID </span>
							
						</th>
						<th>
							<span class="title_box">
							Tiêu đề </span>
							
						</th>
						<th>
							<span class="title_box">
							Nội dung </span>
							
						</th>
						<th class="center">
							<span class="title_box">
							Tên người gửi </span>
							
						</th>
                        <th class="center">
							<span class="title_box">
							Email người gửi </span>
							
						</th>
						<th class="center">
							 Tác vụ<br>
							&nbsp;
						</th>
					</tr>
					<tr class="nodrag nodrop filter row_hover" style="height: 35px;">
                        <td class="center">
							    
						</td>
						<td class="center">
							<input class="filter" name="phanhoi_id" value="@timkiem_phanhoi["id"]" style="width:20px" type="text">
						</td>
						<td>
							<input class="filter" name="phanhoi_tieude" value="@timkiem_phanhoi["tieude"]" style="width:95%" type="text">
						</td>
						<td>
							<input class="filter" name="phanhoi_noidung" value="@timkiem_phanhoi["noidung"]" style="width:95%" type="text">
						</td>
                        <td>
							<input class="filter" name="phanhoi_nguoigui_ten" value="@timkiem_phanhoi["nguoigui_ten"]" style="" type="text">
						</td>
                        <td>
							<input class="filter" name="phanhoi_nguoigui_email" value="@timkiem_phanhoi["nguoigui_email"]" style="" type="text">
						</td>
						
						<td class="center">
							   --
						</td>
					</tr>
					</thead>
					<tbody>
                        @foreach(var item in PhanHoi_List) {
                            <tr id="" class=" row_hover">
						        <td class="center">
							        
						        </td>
						        <td class="pointer center" onclick="document.location = '@Url.Action("Reply","AdminPhanHois", new {id=item.id})'">
							         @item.id
						        </td>
						        <td class="pointer " onclick="document.location = '@Url.Action("Reply","AdminPhanHois", new {id=item.id})'">
							        @item.tieude
						        </td>
						        <td class="pointer " onclick="document.location = '@Url.Action("Reply","AdminPhanHois", new {id=item.id})'">
							         @item._get_noidung_lite(200)
						        </td>
						        <td class="pointer" onclick="document.location = '@Url.Action("Reply","AdminPhanHois", new {id=item.id})'">
							        @item._get_nguoigui_ten()
						        </td>
                                <td class="pointer" onclick="document.location = '@Url.Action("Reply","AdminPhanHois", new {id=item.id})'">
							        @item._get_nguoigui_email()
						        </td>
						        <td class="center" style="white-space: nowrap;">
							        
						        </td>
					        </tr>
                        }
					</tbody>
					</table>
				</td>
			</tr>
			</tbody>
			</table>
        </form>
        <div style="clear:both;height:0;line-height:0">
			 &nbsp;
		</div>
        <form name="reply_" action="@Url.Action("Reply_Submit","AdminPhanHois")" method="post">
            <fieldset id="fieldset_0">
	            <input  name="phanhoi_id" value="@phanhoi.id" type="hidden">
                <legend> <img src="../img/admin/nav-user.gif" alt="Employees"> Trả lời phản hồi qua email </legend>
                <label>Email người nhận: </label>
	            <div class="margin-form">
		            <input name="email" value="@phanhoi._get_nguoigui_email()" class="" size="45" type="text">
	            </div>
	            <div class="clear">
	            </div>
	
	            <label>Tiêu đề: </label>
	            <div class="margin-form">
		            <input name="tieude" value="[Re]: @phanhoi.tieude " style="width:690px" type="text">
	            </div>
	            <div class="clear">
	            </div>
	            <label>Nội dung: </label>
				<div class="margin-form">
                    <!-- Place inside the <head> of your HTML -->
                    <script type="text/javascript" src="@Url.Content("~/Content/tinymce-4-0-4/tinymce.min.js")"></script>
                    <script type="text/javascript">
                        tinymce.init({
                            selector: "textarea#noidung_email",
                            theme: "modern",
                            entity_encoding: "raw",
                            height: 300,
                            width: 700,
                            plugins: [
                                 "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                                 "save table contextmenu directionality emoticons template paste textcolor"
                            ],
                            relative_urls: false,
                            image_advtab: true,
                        });
                    </script>

                    <textarea name="noidung" id="noidung_email">[Bạn đã hỏi với nội dung sau:]<br />@phanhoi.noidung<br /><hr />Nhân viên [@nhanvien.tendaydu] trả lời phản hồi từ khách hàng như sau:</textarea>
				</div>
				<div class="clear">
				</div>
                <div class="margin-form">
		            <input id="nothing" value="Gửi" name="Submit" class="button" type="submit">
	            </div>
            </fieldset>                        
        </form>

		<div style="clear:both;height:0;line-height:0">
			 &nbsp;
		</div>
	</div>
	<div style="clear:both;height:0;line-height:0">
		 &nbsp;
	</div>
</div>