@{
    
}

<div id="main">
    <div id="content">


        <div class="pageTitleHome">
            <span>
                <h3>Bảng điều khiển</h3>
            </span>
        </div>
        <div id="dashboard" style="background-color:#f8f8f8">
            <div id="homepage">


                <div id="column_left" style="width:42%;">
                    <div id="blockNewVersionCheck">
                    </div>

                    <div id="adminpresentation" style="display: block">
                        <h2></h2>
                        <div id="video">
                            <a href="#" id="screencast_fancybox">
                                <img height="128" width="220" src="../img/admin/preview_fr.jpg" /><span class="mask-player"></span></a>
                        </div>
                        <div id="video-content">
                            <p></p>
                        </div>
                        <div id="footer_iframe_home">
                            <!--<a href="#">View more video tutorials.</a>-->
                            <input type="checkbox" id="screencast_dont_show_again">
                            <label for="screencast_dont_show_again">Do not show me this again.</label>
                        </div>
                        <div class="separation"></div>
                    </div>
                    

                    <h2></h2>
                    <ul class="F_list clearfix">
                        <li id="first_block">
                            <a href="@Url.Action("Index","AdminUsers")" style="background-image: url('../img/admin/_user_manager.png');">
                                <h4>Quản lý nhân viên</h4>
                                <p>Quản lý nhân viên</p>
                            </a>
                        </li>
                        <li id="second_block">
                            <a href="@Url.Action("Index","AdminKhachHangs")" style="background-image: url('../img/admin/_customer_manager.png');">
                                <h4>Quản lý khách hàng</h4>
                                <p></p>
                            </a>
                        </li>
                        <li id="third_block">
                            <a href="@Url.Action("Index","AdminDonHangs")" style="background-image: url('../img/admin/_shopping_cart.png');">
                                <h4>Quản lý đơn hàng</h4>
                                <p></p>
                            </a>
                        </li>
                        <li id="fourth_block">
                            <a href="@Url.Action("Add","AdminSanPhams")">
                                <h4>Thêm sản phẩm mới</h4>
                                <p></p>
                            </a>
                        </li>
                        
                    </ul>

                    <div id="partner_preactivation">
                        <p class="center">
                            <img src="../img/loader.gif" alt="" /></p>
                    </div>

                    

                    <div id="discover_prestashop">
                        <p class="center">
                            <img src="../img/loader.gif" alt="" />Loading...</p>
                    </div>




                </div>

                
                <div style="float:right;">
                    <h2>Thông tin server</h2>
                    <div style="background-color:#ffffff">
                        @ServerInfo.GetHtml()
                    </div>    
                    
                </div>
            </div>
            <div class="clear">&nbsp;</div>

        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                if (0) {
                    $('#blockNewVersionCheck').hide();
                    $.ajax({
                        type: 'POST',
                        data: {
                            ajax: '1',
                            controller: 'AdminHome',
                            token: 'a049b0978f5ae98944aaecf9e2ed39a7',
                            id_employee: '1',
                            action: 'refreshCheckVersion'
                        },
                        url: 'ajax-tab.php',
                        dataType: 'json',
                        success: function (data) {
                            if (!data)
                                jAlert("TECHNICAL ERROR - no return status found");
                            else if (data.status != "ok")
                                jAlert("TECHNICAL ERROR: " + data.msg);
                            if (data.upgrade.need_upgrade) {
                                $('#blockNewVersionCheck').children("a").attr('href', data.upgrade.link);
                                $('#blockNewVersionCheck').children("a").html(data.upgrade.link + "pouet");
                                $('#blockNewVersionCheck').fadeIn('slow');
                            }


                        },
                        error: function (data, textStatus, errorThrown) {
                            jAlert("TECHNICAL ERROR: " + data);
                        }
                    });
                }
                $.ajax({
                    url: "ajax-tab.php",
                    type: "POST",
                    data: {
                        token: "a049b0978f5ae98944aaecf9e2ed39a7",
                        ajax: "1",
                        controller: "AdminHome",
                        action: "getAdminHomeElement"
                    },
                    dataType: "json",
                    success: function (json) {
                        if (json.screencast != 'NOK')
                            $('#adminpresentation').fadeIn('slow');
                        else
                            $('#adminpresentation').fadeOut('slow');
                        $('#partner_preactivation').fadeOut('slow', function () {
                            if (json.partner_preactivation != 'NOK')
                                $('#partner_preactivation').html(json.partner_preactivation);
                            else
                                $('#partner_preactivation').html('');
                            $('#partner_preactivation').fadeIn('slow');
                        });

                        $('#discover_prestashop').fadeOut('slow', function () {
                            if (json.discover_prestashop != 'NOK')
                                $('#discover_prestashop').replaceWith(json.discover_prestashop);
                            else
                                $('#discover_prestashop').html('');
                            $('#discover_prestashop').fadeIn('slow');
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // don't show/hide screencast if it's deactivated
                        $('#adminpresentation').fadeOut('slow');
                        $('#partner_preactivation').fadeOut('slow');
                        $('#discover_prestashop').fadeOut('slow');
                    }
                });
                $('#screencast_fancybox').bind('click', function (event) {
                    $.fancybox(
                        this.href,
                        {
                            'width': 920,
                            'height': 384,
                            'transitionIn': 'none',
                            'transitionOut': 'none',
                            'type': 'iframe',
                            'scrolling': 'no',
                            'onComplete': function () {
                                // Rewrite some css properties of Fancybox
                                $('#fancybox-wrap').css('width', '');
                                $('#fancybox-content').css('background-color', '');
                                $('#fancybox-content').css('border', '');
                            }
                        });

                    event.preventDefault();
                });
            });
        </script>

        <div style="clear: both; height: 0; line-height: 0">&nbsp;</div>
    </div>
    <div style="clear: both; height: 0; line-height: 0">&nbsp;</div>
</div>
