@{
    ViewBag.Title = "Admin Login Form";
    var qRootAdminTemplatePath = @Url.Content("~/Content/admin_login/");
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<html lang="en"><!--<![endif]--><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="@qRootAdminTemplatePath" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <form method="post" action="@Url.Action("Test_Login", "AdminLogin")" class="login">
    <p>
      <label for="login" style="width:150px">Tên đăng nhập:</label>
      <input name="user_username" id="login" value="" type="text">
    </p>

    <p>
      <label for="password" style="width:150px; padding-left:">Mật khẩu:</label>
      <input name="user_password" id="password" value="" type="password">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Đăng nhập</button>
    </p>
    <p>
        <input type="checkbox" value="1" name="user_remember" style="margin-left:150px;"/>
        <span class="forgot-password" style="padding-left:5px; color:#00a1d2">Ghi nhớ mật khẩu</span>
    </p>
    <p class="forgot-password"><a href="@Url.Action("Index","AdminForgotPassword")">Quên mật khẩu?</a></p>
  </form>
</body>

</html>