@{
    ViewBag.Title = "Trang chủ - Giỏ hàng";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    var giohang = (qdtest.Models.DonHang)ViewBag.giohang;
}

<div id="content" class="float_r">
    <h1>Shopping Cart</h1>
    <table width="680px" cellspacing="0" cellpadding="5">
        <tbody>
            <tr bgcolor="#ddd">
                <th width="100" align="center">Hình ảnh</th>
                <th width="150" align="center">Tên sản phẩm</th>
                <th width="120" align="center">Thông tin</th>
                <th width="80" align="center">Số lượng</th>
                <th width="100" align="right">Đơn giá</th>
                <th width="100" align="right">Tổng cộng</th>
                <th width="40"></th>

            </tr>

            @foreach(var item in giohang.ds_chitiet_donhang)
            {
            <tr>
                <td>
                    <img src="@item.chitietsp.sanpham._get_hinhanh_macdinh()._get_duongdan_thumb_url()" alt="image 3" style="max-width:100px; max-height:100px;">
                </td>
                <td align="center">
                    @item.chitietsp.sanpham.ten
                </td>
                
                <td align="center">
                    <br>
                    <div style="float: left; margin-left: 30px;">
                        Màu:
                    </div>
                    <div style="width: 45px; height: 15px; background: @item.chitietsp.mausac.mamau ; float: left; margin-left: 5px; margin-right: 0px;"></div>
                    <br>
                    <div style="float: left; margin-left: 30px;">
                        Kích thước: @item.chitietsp.kichthuoc.giatri
                    </div>
                    <div style="clear:both"></div>
                    <br>

                </td>
                <td align="center">
                    <select style="width: 40px;">
                        <option @if(item.soluong==1) {<text> selected="selected" </text>}>1</option>
                        <option @if(item.soluong==2) {<text> selected="selected" </text>}>2</option>
                        <option @if(item.soluong==3) {<text> selected="selected" </text>}>3</option>
                    </select>
                </td>
                <td align="right">@item.dongia  </td>
                <td align="right">@item._get_total() </td>
                <td align="center"><a href="#">
                    <img src="@Url.Content("~/Content/front/images/remove_x.gif")" alt="remove" style="width: 15px; height: 15px" title="Xóa khỏi giỏ hàng"></a>                </td>
            </tr>
            }
            <tr>
                <td colspan="4" align="right" height="30px"></td>
                <td align="right" style="background: #ddd; font-weight: bold">Tổng tiền</td>
                <td align="right" style="background: #ddd; font-weight: bold">@giohang._get_tongtien_notinclude_phivanchuyen() </td>
                <td style="background: #ddd; font-weight: bold"></td>
            </tr>
        </tbody>
    </table>
    <div style="float: right; width: 215px; margin-top: 20px;">

        <p><a href="checkout.html">Thanh toán</a></p>
        <p><a href="javascript:history.back()">Tiếp tục mua hàng</a></p>

    </div>
</div>
