@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div id="content" class="float_r">
    <h2>Yêu cầu thanh toán</h2>
    <div class="content_half float_l" style="width:auto">
        <h3 style="line-height:normal">Chức năng thanh toán giỏ hàng chỉ cung cấp cho khách hàng đã đăng nhập hệ thống</h3>
        <br />
        <h3>
        <a href="@Url.Action("Index","FrontLogin")">
            <img src="@Url.Content("~/Content/front/images/login.png")" style="max-height:50px;max-width:50px;" />
                Đăng nhập bằng tài khoản có sẵn
                
            </a>
        </h3>
        <h3>
            <a href="@Url.Action("Index","FrontRegister")">
            <img src="@Url.Content("~/Content/front/images/register.png")" style="max-height:50px;max-width:50px;"/>
                hoặc đăng ký mới ngay bây giờ
            </a>
        </h3>
       <input type="button"  class="mybutton" value="Trở về" onclick="window.location.href='@Url.Action("Index","FrontCart")'">
        
    </div>

    <div class="cleaner h40"></div>
</div>
