@{
    ViewBag.Title = "Admin Reset Password Form";
    var qRootAdminTemplatePath = @Url.Content("~/Content/admin_login/");
    var NhanVien = (qdtest.Models.NhanVien)ViewBag.NhanVien;
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<html lang="en"><!--<![endif]--><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="@qRootAdminTemplatePath" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <form method="post" action="@Url.Action("Request_Password_Change_Submit", "AdminForgotPassword")" class="login">
    <input type="hidden" name="nhanvien_id" value="@NhanVien.id" />
    <input type="hidden" name="nhanvien_sesion" value="@NhanVien.forgot_password_session" />
    <p>
      <label for="login" style="width:150px">Mật khẩu mới:</label>
      <input name="nhanvien_matkhau" id="login" value="" type="text">
    </p>

    <p class="login-submit">
      <button type="submit" class="login-button">Submit</button>
    </p>
    <p class="forgot-password"><a href="@Url.Action("Index","Admin")">Quay lại trang đăng nhập</a></p>
  </form>
</body>

</html>