@{
    ViewBag.Title = "Trang chủ - Đăng ký";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    var State = (List<String>)ViewBag.State;
    var khachhang_register = (qdtest.Models.KhachHang)ViewBag.khachhang_register;
}
<div id="content" class="float_r">
    <h1>Đăng ký tài khoản khách hàng</h1>
    <div class="content_half float_l" style="width:auto">
        <p></p>
        <div id="contact_form" style="width:auto">
            <form method="post" name="contact" action="@Url.Action("Submit","FrontRegister")">

                <label for="author">Tên đăng nhập:</label>
                <input type="text" name="khachhang_tendangnhap" class="required input_field" value="@khachhang_register.tendangnhap" style="float:left">
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("tendangnhap_fail"))
                    {
                        @:Tên đăng nhập không hợp lệ
                    }
                    else if(State.Contains("tendangnhap_exist_fail"))
                    {
                        @:Tên đăng nhập đã có khách hàng khác sử dụng
                    }
                </span>
                <div class="cleaner h10"></div>

                <label for="author">Mật khẩu:</label>
                <input type="password" name="khachhang_matkhau" class="required input_field" value="@khachhang_register.matkhau" style="float:left">
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("matkhau_fail"))
                    {
                        @:Mật khẩu không hợp lệ hoặc không khớp
                    }
                    
                </span>
                <div class="cleaner h10"></div>

                <label for="author">Nhập lại mật khẩu:</label>
                <input type="password" name="khachhang_matkhau2" class="required input_field" value="" style="float:left">
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("matkhau_fail"))
                    {
                        @:Mật khẩu không hợp lệ hoặc không khớp
                    }
                </span>
                <div class="cleaner h10"></div>

                <label for="author">Tên đầy đủ:</label>
                <input type="text" name="khachhang_tendaydu" class="required input_field" value="@khachhang_register.tendaydu" style="float:left">
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("tendaydu_fail"))
                    {
                        @:Mật khẩu không hợp lệ hoặc không khớp
                    }
                </span>
                <div class="cleaner h10"></div>
                
                <label for="email">Email:</label>
                <input type="text"name="khachhang_email" class="validate-email required input_field" value="@khachhang_register.email" style="float:left">
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("email_fail"))
                    {
                        @:Email không hợp lệ
                    }
                    else if(State.Contains("email_exist_fail"))
                    {
                        @:Email đã có khách hàng khác sử dụng
                    }
                </span>
                <div class="cleaner h10"></div>

                <label for="phone">Số điện thoại:</label>
                <input type="text" name="khachhang_sdt" class="input_field" value="@khachhang_register.sdt" style="float:left">
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("sdt_fail"))
                    {
                        @:Số điện thoại không hợp lệ
                    }
                </span>
                <div class="cleaner h10"></div>

                <label for="phone">Địa chỉ:</label>
                <input type="text" name="khachhang_diachi" class="input_field" value="@khachhang_register.diachi" style="float:left">
                <div class="cleaner h10"></div>
                
                <label for="khachhang_captcha">Câu hỏi bảo vệ:</label>
                <img src="@Url.Action("CaptchaImage","FrontRegister")" />
                <br />
                <input type="text" name="khachhang_captcha" class="input_field" style="width:110px; float:left" value="" >
                <sup style="color:red; float:left" >*</sup>
                <span style="color:red; float:left">
                    @if (State.Contains("captcha_fail"))
                    {
                        @:Câu trả lời không đúng
                    }
                </span>

                <div class="cleaner h10"></div>
                <input type="submit" class="submit_btn" name="submit" id="submit" value="Đăng ký">
            </form>
        </div>
    </div>

    <div class="cleaner h40"></div>



</div>
