@{
    var qRootAdminTemplatePath = @Url.Content("~/Content/admin/admin2109/");
    var ActiveTab = (List<String>)ViewBag.ActiveTab;
    var Current_User = (qdtest.Models.NhanVien)ViewBag.Current_User;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie6 " lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html lang="fr" class="no-js ie9" lang="en"> <![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="robots" content="NOFOLLOW, NOINDEX" />
    <title>@ViewBag.Title</title>
    <base href="@qRootAdminTemplatePath"/>
    <link href="@qRootAdminTemplatePath../modules/gamification/views/css/gamification.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="@qRootAdminTemplatePath../admin2109/../admin2109/../js/jquery/ui/themes/base/jquery.ui.core.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@qRootAdminTemplatePath../admin2109/../admin2109/../js/jquery/ui/themes/base/jquery.ui.theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@qRootAdminTemplatePath../css/admin.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="@qRootAdminTemplatePath../admin2109/themes/default/css/admin.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/cluetip/jquery.cluetip.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/alerts/jquery.alerts.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/chosen/jquery.chosen.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/jquery-1.7.2.min.js"></script>
    <!-- <script type="text/javascript" src="@qRootAdminTemplatePath../modules/gamification/views/js/gamification.js"></script> -->
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/cluetip/jquery.cluetip.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/jquery.hoverIntent.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/alerts/jquery.alerts.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/chosen/jquery.chosen.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../js/admin.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../js/toggle.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../js/tools.js"></script>
    <!-- <script type="text/javascript" src="@qRootAdminTemplatePath../js/ajax.js"></script> -->
    <script type="text/javascript" src="@qRootAdminTemplatePath../js/toolbar.js"></script>
    <!-- <script type="text/javascript" src="@qRootAdminTemplatePath../js/notifications.js"></script> -->
    <!-- <script type="text/javascript" src="@qRootAdminTemplatePath../js/helpAccess.js"></script> -->
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../js/jquery/plugins/jquery.flot.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../admin2109/../admin2109/../js/jquery/ui/jquery.ui.core.min.js"></script>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/ps/img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/ps/img/favicon.ico" />
    <!--[if IE]>
	<link type="text/css" rel="stylesheet" href="http://localhost/ps/css/admin-ie.css" />
	<![endif]-->
    <style type="text/css">
        div#header_infos, div#header_infos a#header_shopname, div#header_infos a#header_logout, div#header_infos a#header_foaccess {
            color: #383838;
        }
    </style>
    <!-- qd date picker -->
    <link type="text/css" href="@qRootAdminTemplatePath../qd_date_picker/jquery.datepick.css" rel="stylesheet" />
    <script type="text/javascript" src="@qRootAdminTemplatePath../qd_date_picker/jquery.datepick.js"></script>
    <script type="text/javascript" src="@qRootAdminTemplatePath../qd_date_picker/jquery.datepick-vi.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#qdDatePickerFrom').datepick();
            $('#qdDatePickerTo').datepick();
        });
    </script>    <!-- qd color picker -->    <script type="text/javascript" src="@qRootAdminTemplatePath../qd_color_picker/jscolor.js"></script>
</head>
<body style="">
    <div id="ajax_running">
        <img src="../img/admin/ajax-loader-yellow.gif" alt="" />
        Loading...
    </div>
    <div id="top_container">
        <div id="container">
            <div id="header">
                <div id="header_infos">
                    <a id="header_shopname" href="index.php?controller=AdminHome&amp;token=a049b0978f5ae98944aaecf9e2ed39a7"><span>ps</span></a>
                    <div id="notifs_icon_wrapper">
                        <div id="orders_notif" class="notifs">
                            <span id="orders_notif_number_wrapper" class="number_wrapper">
                                <span id="orders_notif_value">0</span>
                            </span>
                            <div id="orders_notif_wrapper" class="notifs_wrapper">
                                <h3>Last orders</h3>
                                <p class="no_notifs">
                                    No new orders has been placed on your shop
                                </p>
                                <ul id="list_orders_notif">
                                </ul>
                                <p>
                                    <a href="index.php?controller=AdminOrders&amp;token=03b97c0470d2242e7ad0b01a281a087b">Show all orders</a>
                                </p>
                            </div>
                        </div>
                        <div id="customers_notif" class="notifs notifs_alternate">
                            <span id="customers_notif_number_wrapper" class="number_wrapper">
                                <span id="customers_notif_value">0</span>
                            </span>
                            <div id="customers_notif_wrapper" class="notifs_wrapper">
                                <h3>Last customers</h3>
                                <p class="no_notifs">
                                    No new customers registered on your shop
                                </p>
                                <ul id="list_customers_notif">
                                </ul>
                                <p>
                                    <a href="index.php?controller=AdminCustomers&amp;token=a63897f6b09f19ea042c44d7f543b6b6">Show all customers</a>
                                </p>
                            </div>
                        </div>
                        <div id="customer_messages_notif" class="notifs">
                            <span id="customer_messages_notif_number_wrapper" class="number_wrapper">
                                <span id="customer_messages_notif_value">0</span>
                            </span>
                            <div id="customer_messages_notif_wrapper" class="notifs_wrapper">
                                <h3>Last messages</h3>
                                <p class="no_notifs">
                                    No new messages posted on your shop
                                </p>
                                <ul id="list_customer_messages_notif">
                                </ul>
                                <p>
                                    <a href="index.php?tab=AdminCustomerThreads&amp;token=2ca6e722bbb83b079663baeb78896005">Show all messages</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="employee_box">
                        <div id="employee_infos">
                            <div class="employee_name">
                                <a href="@Url.Action("Index", "AdminUser", new { id = Current_User.id })">Xin chào, <strong>@Current_User.tendaydu</strong>
                                </a>
                            </div>
                            <div class="clear">
                            </div>
                            <ul id="employee_links">
                                <li><a href="@Url.Action("Index", "AdminUser", new { id = Current_User.id })">Cài đặt tài khoản</a></li>
                                <li class="separator">&nbsp;</li>
                                <li><a id="header_logout" href="@Url.Action("Logout", "AdminLogin")">logout</a></li>
                                <li class="separator">&nbsp;</li>
                                <a href="@Url.Action("Index","FrontHome")" id="header_foaccess" target="_blank" title="View my shop">Trang chủ website</a>
                            </ul>
                        </div>
                    </div>
                    <div id="header_search">
                        <form method="post" action="index.php?controller=AdminSearch&amp;token=cc07a9f3c930480dcd5c9b686ae295da">
                            <input type="text" name="bo_query" id="bo_query" value="" />
                            <select name="bo_search_type" id="bo_search_type" class="chosen no-search">
                                <option value="0">everywhere</option>
                                <option value="1">catalog</option>
                                <optgroup label="customers:">
                                    <option value="2">by name</option>
                                    <option value="6">by ip address</option>
                                </optgroup>
                                <option value="3">orders</option>
                                <option value="4">invoices</option>
                                <option value="5">carts</option>
                                <option value="7">modules</option>
                            </select>
                            <input type="submit" id="bo_search_submit" class="button" value="Search" />
                        </form>
                    </div>
                    <div id="header_quick">
                        <select onchange="quickSelect(this);" id="quick_select" class="chosen no-search">
                            <option value="0">Quick Access</option>
                            <option value="index.php">&raquo; Home</option>
                            <option value="http://localhost/ps/_blank">&raquo; My Shop</option>
                            <option value="index.php?controller=AdminCategories&amp;addcategory&amp;token=9ef14dab525282a252161bbae087bd5b">&raquo; New category</option>
                            <option value="index.php?controller=AdminProducts&amp;addproduct&amp;token=c4ecb5500c32302d072130315b268033">&raquo; New product</option>
                            <option value="index.php?controller=AdminCartRules&amp;addcart_rule&amp;token=f6a0e29f52582cbe259d36183cf3e097">&raquo; New voucher</option>
                        </select>
                    </div>
                </div>
                <ul id="menu">
                    <li class="submenu_size maintab @if (ActiveTab.Contains("Catalog"))
                                                    {<text>active</text>}" id="maintab9">
                        <a href="@Url.Action("Index", "AdminSanPhams")" class="title">
                            <img src="../img/t/AdminCatalog.gif" alt="" />Catalog </a>
                        <ul class="submenu">
                            <li class="@if (ActiveTab.Contains("SanPham"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminSanPhams")">Sản phẩm</a></li>
                            <li class="@if (ActiveTab.Contains("NhomSanPham"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminNhomSanPham")">Nhóm sản phẩm</a></li>
                            <li class="@if (ActiveTab.Contains("HangSX"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminHangSX")">Hãng sản xuất</a></li>
                            <li class="@if (ActiveTab.Contains("KichThuoc"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminKichThuocs")">Kích thước</a></li>
                            <li class="@if (ActiveTab.Contains("MauSac"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminMauSacs")">Màu sắc</a></li>
                        </ul>
                    </li>
                    <li class="submenu_size maintab @if (ActiveTab.Contains("QuanLyDonHang"))
                                       {<text>active</text>}" id="maintab10">
                        <a href="@Url.Action("Index","AdminDonHangs")" class="title">
                            <img src="../img/t/AdminParentOrders.gif" alt="" />Đơn hàng </a>
                        <ul class="submenu">
                            <li class="@if (ActiveTab.Contains("DonHang_"))
                                        {<text>active</text>}"><a href="@Url.Action("Index_All","AdminDonHangs")">Danh sách đơn hàng</a></li>
                            <li class="@if (ActiveTab.Contains("DonHang_chualienlac"))
                                        {<text>active</text>}"><a href="@Url.Action("Index_TrangThai", "AdminDonHangs", new { trangthai = "chualienlac"})">Đơn hàng chưa liên lạc - đơn hàng mới</a></li>
                            <li class="@if (ActiveTab.Contains("DonHang_chuagiao"))
                                        {<text>active</text>}"><a href="@Url.Action("Index_TrangThai", "AdminDonHangs", new { trangthai = "chuagiao"})">Đơn hàng đã thanh toán - chưa giao</a></li>
                            <li class="@if (ActiveTab.Contains("DonHang_dagiao"))
                                        {<text>active</text>}"><a href="@Url.Action("Index_TrangThai", "AdminDonHangs", new { trangthai = "dagiao"})">Đơn hàng đã giao - hoàn tất</a></li>
                            <li class="@if (ActiveTab.Contains("DonHang_dabihuy"))
                                        {<text>active</text>}"><a href="@Url.Action("Index_TrangThai", "AdminDonHangs", new { trangthai = "dabihuy"})">Đơn hàng đã bị hủy</a></li>

                            <li class=""><a href="@Url.Action("Index_NgayTruoc", "AdminDonHangs", new { songay = 0})">Đơn hàng hôm nay</a></li>
                            <li class=""><a href="@Url.Action("Index_NgayTruoc", "AdminDonHangs", new { songay = -7})">Đơn hàng 7 ngày trước</a></li>
                            <li class=""><a href="@Url.Action("Index_NgayTruoc", "AdminDonHangs", new { songay = -30})">Đơn hàng 30 ngày trước</a></li>
                        </ul>
                    </li>
                    <li class="submenu_size maintab @if (ActiveTab.Contains("KhachHang"))
                                                    {<text>active</text>}" id="maintab11">
                        <a href="@Url.Action("Index", "AdminKhachHangs")" class="title">
                            <img src="../img/t/AdminParentCustomer.gif" alt="" />Khách hàng </a>
                        <ul class="submenu">
                            <li class="@if (ActiveTab.Contains("KhachHang"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminKhachHangs")">Danh sách khách hàng</a></li>
                            <li><a href="@Url.Action("Add", "AdminKhachHangs")">Thêm khách hàng mới</a></li>
                            <li><a href="index.php?controller=AdminCustomers&amp;token=a63897f6b09f19ea042c44d7f543b6b6">Thắc mắc của khách hàng</a></li>
                        </ul>
                    </li>
                    <li class="submenu_size maintab @if (ActiveTab.Contains("QuanTriHeThong"))
                                                    {<text>active</text>}" id="maintab18">
                        <a href="#" class="title">
                            <img src="../img/t/AdminAdmin.gif" alt="" />Quản trị hệ thống </a>
                        <ul class="submenu">
                            <li class="@if (ActiveTab.Contains("CaiDat"))
                                       {<text>active</text>}"><a href="@Url.Action("Index", "AdminSetting")">Cài đặt</a></li>
                            <li class="@if (ActiveTab.Contains("NhanVien"))
                                       {<text>active</text>}" ><a href="@Url.Action("Index", "AdminUsers")">Nhân viên</a></li>
                            <li class="@if (ActiveTab.Contains("LoaiNhanVien"))
                                       {<text>active</text>}" ><a href="@Url.Action("Index", "AdminLoaiNhanViens")">Nhóm quyền hạn</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Main Body -->
            @RenderBody()
            <!-- End main body -->

            <div id="footer">
                <div class="footerLeft">
                    <a href="http://www.prestashop.com/" target="_blank">PrestaShop&trade; 1.5.5.0</a><br />
                    <span>Load time:1.251s</span>
                </div>
                <div class="footerRight">
                    |&nbsp;<a href="http://www.prestashop.com/en/contact-us?utm_source=backoffice_footer" target="_blank" class="footer_link">Contact</a>
                    |&nbsp;<a href="http://forge.prestashop.com/?utm_source=backoffice_footer" target="_blank" class="footer_link">Bug Tracker</a>
                    |&nbsp;<a href="http://www.prestashop.com/forums/?utm_source=backoffice_footer" target="_blank" class="footer_link">Forum</a>
                    |&nbsp;<a href="http://addons.prestashop.com/?utm_source=backoffice_footer" target="_blank" class="footer_link">Addons</a>
                </div>
            </div>
        </div>
    </div>
    <div id="ajax_confirmation" style="display: none"></div>
    <div id="ajaxBox" style="display: none"></div>
    <div id="scrollTop"><a href="#top"></a></div>
</body>
</html>
