@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var DonHang_List = (List<qdtest.Models.DonHang>)ViewBag.DonHang_List;
    var timkiem_donhang = (HttpCookie)ViewBag.timkiem_donhang;
    var pagination = (qdtest.Models.Pagination)ViewBag.pagination;
}
<style type="text/css">
    .datepick-month-year option {
        color: white;
    }
</style>
<div id="content">
    <script type="text/javascript">
        $(document).ready(function () {
            $('table.order .filter').keypress(function (event) {
                formSubmit(event, 'submitFilterButtonorder')
            })
        });
    </script>
    <div class="toolbar-placeholder">
        <div class="toolbarBox toolbarHead" style="width: 1319px;">
            <script language="javascript" type="text/javascript">
                //<![CDATA[
                var submited = false
                var modules_list_loaded = false;
                $(function () {
                    //get reference on save link
                    btn_save = $('span[class~="process-icon-save"]').parent();

                    //get reference on form submit button
                    btn_submit = $('#order_form_submit_btn');

                    if (btn_save.length > 0 && btn_submit.length > 0) {
                        //get reference on save and stay link
                        btn_save_and_stay = $('span[class~="process-icon-save-and-stay"]').parent();

                        //get reference on current save link label
                        lbl_save = $('#desc-order-save div');

                        //override save link label with submit button value
                        if (btn_submit.val().length > 0)
                            lbl_save.html(btn_submit.attr("value"));

                        if (btn_save_and_stay.length > 0) {

                            //get reference on current save link label
                            lbl_save_and_stay = $('#desc-order-save-and-stay div');

                            //override save and stay link label with submit button value
                            if (btn_submit.val().length > 0 && lbl_save_and_stay && !lbl_save_and_stay.hasClass('locked')) {
                                lbl_save_and_stay.html(btn_submit.val() + " and stay ");
                            }

                        }

                        //hide standard submit button
                        btn_submit.hide();
                        //bind enter key press to validate form
                        $('#order_form').keypress(function (e) {
                            if (e.which == 13 && e.target.localName != 'textarea')
                                $('#desc-order-save').click();
                        });
                        //submit the form

                        btn_save.click(function () {
                            // Avoid double click
                            if (submited)
                                return false;
                            submited = true;

                            //add hidden input to emulate submit button click when posting the form -> field name posted
                            btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + '" value="1" />');

                            $('#order_form').submit();
                            return false;
                        });

                        if (btn_save_and_stay) {
                            btn_save_and_stay.click(function () {
                                //add hidden input to emulate submit button click when posting the form -> field name posted
                                btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + 'AndStay" value="1" />');

                                $('#order_form').submit();
                                return false;
                            });
                        }

                    }
                });
                //]]>
            </script>

            <div class="pageTitle">
                <h3>
                    <span id="current_obj" style="font-weight: normal;">

                       <span class="breadcrumb item-0 ">Đơn hàng <img alt="&gt;" style="margin-right:5px" src="../img/admin/separator_breadcrumb.png"/>
					</span>
					<span class="breadcrumb item-1 ">Danh sách </span>
					</span>

                </h3>
            </div>
        </div>
    </div>
    <div class="leadin"></div>
    <form method="post" action="@Url.Action("Submit","AdminDonHangs")" class="form">
        <input type="hidden" id="submitFilterorder" name="submitFilterorder" value="0">
        <table class="table_grid" name="list_table">
            <tbody>
                <tr>
                    <td style="vertical-align: bottom;">
                        <span style="float: left;">
					    @if (pagination.can_first_page)
         {
                            <text>
                                <img src="../img/admin/list-prev2.gif" onclick="document.location='@Url.Action("Index", "AdminDonHangs", new { page = 1 })'"/>
                                &nbsp;&nbsp;
                            </text>
         }
                        @if (pagination.can_prev_page)
                        {
                            <text>
                                <img src="../img/admin/list-prev.gif" onclick="document.location='@Url.Action("Index", "AdminDonHangs", new { page = pagination.current_page - 1 })'"/>
                                &nbsp;&nbsp;
                            </text>
                        }
                        Trang <b>@pagination.current_page</b> / @pagination.total_page
                        @if (pagination.can_next_page)
                        {
                            <text>
                            &nbsp;&nbsp;
                            <img src="../img/admin/list-next.gif" onclick="document.location='@Url.Action("Index", "AdminDonHangs", new { page = pagination.current_page + 1 })'"/>
                            &nbsp;&nbsp;
                            </text>
                        }
                        @if (pagination.can_last_page)
                        {
                            <text>    
                            <img src="../img/admin/list-next2.gif" onclick="document.location='@Url.Action("Index", "AdminDonHangs", new { page = pagination.total_page })'"/>
                            &nbsp;
                            </text>
                        }
                        | Hiển thị
                        
					    <select name="donhang_max_item_per_page" onchange="submit()">
						    <option value="5" @if (timkiem_donhang["max_item_per_page"].Equals("5"))
                            {<text>selected="selected"</text>} >5</option>
						    <option value="10" @if (timkiem_donhang["max_item_per_page"].Equals("10"))
                             {<text>selected="selected"</text>}>10</option>
						    <option value="20" @if (timkiem_donhang["max_item_per_page"].Equals("20"))
                             {<text>selected="selected"</text>}>20</option>
						    <option value="50" @if (timkiem_donhang["max_item_per_page"].Equals("50"))
                             {<text>selected="selected"</text>}>50</option>
                            <option value="100" @if (timkiem_donhang["max_item_per_page"].Equals("100"))
                                                {<text>selected="selected"</text>}>100</option>
					    </select>
					     / kết quả trên 1 trang
					</span>


                        <span style="float: right;">
                            <input type="submit" id="submitFilterButtonorder" name="submitFilter" value="Tìm kiếm" class="button">
                            <input type="submit" name="submit_reset" value="Reset" class="button">
                        </span>
                        <span class="clear"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table  order" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 10px;">
                            <colgroup>
                                <col width="10px">
                                <col width="25px">
                                <col>
                                <col width="200px">
                                <col width="200px">
                                <col width="250px">
                                <col width="150px">
                                <col width="52px">
                            </colgroup>
                            <thead>
                                <tr class="nodrag nodrop" style="height: 40px">
                                    <th class="center"></th>
                                    <th class="center">
                                        <span class="title_box">Mã
                                        </span>
                                        <br>
                                        @{
                                            string desc_suffix = "down_d.gif";
                                            string asc_suffix = "up_d.gif";
                                            if(timkiem_donhang["order_by"].ToLower().Equals("id"))
                                            {
                                                if(timkiem_donhang["order_desc"].ToLower().Equals("1"))
                                                {
                                                    desc_suffix = "down.gif";
                                                }
                                                else
                                                {
                                                    asc_suffix = "up.gif";
                                                }
                                            }
                                        }
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="id", order_desc="1" })">
                                            <img border="0" src="../img/admin/@desc_suffix"></a>
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="id", order_desc="0" })">
                                            <img border="0" src="../img/admin/@asc_suffix"></a>
                                    </th>
                                    <th class="center">
                                        <span class="title_box">Tên khách hàng
                                        </span>
                                        <br>
                                        @{
                                            desc_suffix = "down_d.gif";
                                            asc_suffix = "up_d.gif";
                                            if(timkiem_donhang["order_by"].ToLower().Equals("khachhang.tendaydu"))
                                            {
                                                if(timkiem_donhang["order_desc"].ToLower().Equals("1"))
                                                {
                                                    desc_suffix = "down.gif";
                                                }
                                                else
                                                {
                                                    asc_suffix = "up.gif";
                                                }
                                            }
                                        }
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="khachhang.tendaydu", order_desc="1" })">
                                            <img border="0" src="../img/admin/@desc_suffix"></a>
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="khachhang.tendaydu", order_desc="0" })">
                                            <img border="0" src="../img/admin/@asc_suffix"></a>
                                    </th>
                                    <th class="center">
                                        <span class="title_box">Tổng tiền
                                        </span>
                                        <br>
                                        @{
                                            desc_suffix = "down_d.gif";
                                            asc_suffix = "up_d.gif";
                                            if(timkiem_donhang["order_by"].ToLower().Equals("tongtien"))
                                            {
                                                if(timkiem_donhang["order_desc"].ToLower().Equals("1"))
                                                {
                                                    desc_suffix = "down.gif";
                                                }
                                                else
                                                {
                                                    asc_suffix = "up.gif";
                                                }
                                            }
                                        }
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="tongtien", order_desc="1" })">
                                            <img border="0" src="../img/admin/@desc_suffix"></a>
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="tongtien", order_desc="0" })">
                                            <img border="0" src="../img/admin/@asc_suffix"></a>
                                    </th>
                                    <th class="center">
                                        <span class="title_box">Hình thức thanh toán
                                        </span>
                                        <br>
                                        @{
                                            desc_suffix = "down_d.gif";
                                            asc_suffix = "up_d.gif";
                                            if(timkiem_donhang["order_by"].ToLower().Equals("thanhtoan_tructuyen"))
                                            {
                                                if(timkiem_donhang["order_desc"].ToLower().Equals("1"))
                                                {
                                                    desc_suffix = "down.gif";
                                                }
                                                else
                                                {
                                                    asc_suffix = "up.gif";
                                                }
                                            }
                                        }
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="thanhtoan_tructuyen", order_desc="1" })">
                                            <img border="0" src="../img/admin/@desc_suffix"></a>
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="thanhtoan_tructuyen", order_desc="0" })">
                                            <img border="0" src="../img/admin/@asc_suffix"></a>
                                    </th>
                                    
                                    <th class="center">
                                        <span class="title_box">Trạng thái
                                        </span>
                                        <br>
                                        @{
                                            desc_suffix = "down_d.gif";
                                            asc_suffix = "up_d.gif";
                                            if(timkiem_donhang["order_by"].ToLower().Equals("trangthai"))
                                            {
                                                if(timkiem_donhang["order_desc"].ToLower().Equals("1"))
                                                {
                                                    desc_suffix = "down.gif";
                                                }
                                                else
                                                {
                                                    asc_suffix = "up.gif";
                                                }
                                            }
                                        }
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="trangthai", order_desc="1" })">
                                            <img border="0" src="../img/admin/@desc_suffix"></a>
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="trangthai", order_desc="0" })">
                                            <img border="0" src="../img/admin/@asc_suffix"></a>
                                    </th>
                                    <th class="center">
                                        <span class="title_box">Ngày đặt
                                        </span>
                                        <br>
                                        @{
                                            desc_suffix = "down_d.gif";
                                            asc_suffix = "up_d.gif";
                                            if(timkiem_donhang["order_by"].ToLower().Equals("ngay"))
                                            {
                                                if(timkiem_donhang["order_desc"].ToLower().Equals("1"))
                                                {
                                                    desc_suffix = "down.gif";
                                                }
                                                else
                                                {
                                                    asc_suffix = "up.gif";
                                                }
                                            }
                                        }
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="ngay", order_desc="1" })">
                                            <img border="0" src="../img/admin/@desc_suffix"></a>
                                        <a href="@Url.Action("OrderBy", "AdminDonHangs", new { order_by="ngay", order_desc="0" })">
                                            <img border="0" src="../img/admin/@asc_suffix"></a>
                                    </th>
                                    <th class="center">Tác vụ<br>
                                        &nbsp;

                                    </th>
                                </tr>
                                <tr class="nodrag nodrop filter row_hover" style="height: 35px;">
                                    <td class="center"></td>
                                    <td class="center">
                                        <input type="text" class="filter" name="donhang_id" value="@timkiem_donhang["id"]" style="width: 25px">
                                    </td>
                                    <td>
                                        <input type="text" class="filter" name="donhang_khachhang_ten" value="@timkiem_donhang["khachhang_ten"]" style="width: 98%">
                                    </td>
                                    <td class="right">từ
                                        <input type="text" class="filter" name="donhang_tongtien_from" value="@timkiem_donhang["tongtien_from"]" style="width: 75%"><br />
                                        đến
                                        <input type="text" class="filter" name="donhang_tongtien_to" value="@timkiem_donhang["tongtien_to"]" style="width: 75%">
                                    </td>
                                    <td>
                                        <select onchange="$('#submitFilterButtonorder').focus();$('#submitFilterButtonorder').click();" name="donhang_thanhtoan_tructuyen" style="width: 98%">
                                            <option value="" @if (timkiem_donhang["thanhtoan_tructuyen"].Equals("")) {<text>selected="selected"</text>}>(Tất cả)</option>
                                             <option value="1" @if (timkiem_donhang["thanhtoan_tructuyen"].Equals("1")) {<text>selected="selected"</text>}>Thanh toán trực tuyến</option>
                                            <option value="0" @if (timkiem_donhang["thanhtoan_tructuyen"].Equals("0"))
                                                                        {<text>selected="selected"</text>}>Thanh toán tại nhà</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select onchange="$('#submitFilterButtonorder').focus();$('#submitFilterButtonorder').click();" name="donhang_trangthai" style="width: 280px">
                                            <option value="" @if (timkiem_donhang["trangthai"].Equals("")) {<text>selected="selected"</text>}>(Tất cả)</option>
                                            <option value="chualienlac" @if (timkiem_donhang["trangthai"].Equals("chualienlac")) {<text>selected="selected"</text>}>Chưa liên lạc - đơn hàng mới</option>
                                            <option value="chuagiao" @if (timkiem_donhang["trangthai"].Equals("chuagiao")) {<text>selected="selected"</text>}>Chưa giao hàng</option>
                                            <option value="dagiao" @if (timkiem_donhang["trangthai"].Equals("dagiao")) {<text>selected="selected"</text>}>Đã giao - hoàn tất</option>
                                            <option value="dabihuy" @if (timkiem_donhang["trangthai"].Equals("dabihuy")) {<text>selected="selected"</text>}>Đã bị hủy</option>
                                        </select>
                                    </td>
                                    <td class="right">từ
                                        <input name="donhang_ngay_from" type="text" class="filter datepicker hasDatepicker" id="qdDatePickerFrom" value="@timkiem_donhang["ngay_from"]" style="width: 90px"><br>
                                        đến
                                        <input name="donhang_ngay_to" type="text" class="filter datepicker hasDatepicker" id="qdDatePickerTo" value="@timkiem_donhang["ngay_to"]" style="width: 90px">
                                    </td>                                   

                                    <td class="center">--</td>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach(var item in DonHang_List)
                                {
                                <tr class=" row_hover">
                                    <td class="center"></td>

                                    <td class="pointer center" onclick="document.location = '@Url.Action("Index","AdminDonHang", new {id=item.id})'">
                                        @item.id
                                    </td>
                                    <td class="pointer" onclick="document.location = '@Url.Action("Index","AdminDonHang", new {id=item.id})'">
                                        @item._get_khachhang_tendaydu()
                                    </td>
                                    <td class="pointer right" onclick="document.location = '@Url.Action("Index","AdminDonHang", new {id=item.id})'">
                                        <b>
                                            @item.tongtien
                                        </b>
                                    </td>
                                    <td class="pointer" onclick="document.location = '@Url.Action("Index","AdminDonHang", new {id=item.id})'">
                                        <span class="color_field" style="background-color:#575757; color: white">
                                            @if (item.thanhtoan_tructuyen)
                                            {
                                                @:Thanh toán trực tuyến
                                            }
                                            else
                                            {
                                                @:Thanh toán tại nhà   
                                            }
                                        </span>
                                    </td>
                                    <td class="pointer" onclick="document.location = '@Url.Action("Index","AdminDonHang", new {id=item.id})'">
                                        <span class="color_field" style="background-color:#575757; color: white">
                                            @item._get_trangthai()
                                        </span>
                                    </td>
                                    <td class="pointer right" onclick="document.location = '@Url.Action("Index","AdminDonHang", new {id=item.id})'">
                                        @item._get_ngay()
                                    </td>
                                    <td class="center" style="white-space: nowrap;">
                                        <a href="@Url.Action("Index","AdminDonHang", new {id=item.id})" title="View">
                                            <img src="../img/admin/details.gif" alt="View">
                                        </a>
                                    </td>
                                </tr>
                                }
                            </tbody>


                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="token" value="03b97c0470d2242e7ad0b01a281a087b">
    </form>
    <div style="clear: both; height: 0; line-height: 0">&nbsp;</div>
</div>
