@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
    ViewBag.Title = "Trang chủ";
    var _Template_Path = "~/Content/front/";
    var SanPhamNew_List = (List<qdtest.Models.SanPham>)ViewBag.SanPhamNew_List;
}
<div id="content" class="float_r">
        	<div id="slider-wrapper">
                <div id="slider" class="nivoSlider">
                    <img src="@Url.Content(_Template_Path + "images/slider/02.jpg")" alt="" />
                    <a href="#"><img src="@Url.Content(_Template_Path + "images/slider/01.jpg")" alt="" title="This is an example of a caption" /></a>
                    <img src="@Url.Content(_Template_Path + "images/slider/03.jpg")" alt="" />
                    <img src="@Url.Content(_Template_Path + "images/slider/04.jpg")" alt="" title="#htmlcaption" />
                </div>
                <div id="htmlcaption" class="nivo-html-caption">
                    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
                </div>
            </div>
            <script type="text/javascript" src="@Url.Content(_Template_Path + "js/jquery-1.4.3.min.js")"></script>
            <script type="text/javascript" src="@Url.Content(_Template_Path + "js/jquery.nivo.slider.pack.js")"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('#slider').nivoSlider();
                });
            </script>
        	<h1>Sản phẩm mới</h1>
                @{
                    var i=1;
                   foreach(var item in SanPhamNew_List)
                    {
                       
                       if(i%3==0)
                       {
                      @:<div class="product_box no_margin_right">
                       }
                       else 
                       {
                      @:<div class="product_box">
                       }
                       <p style="background:url(@Url.Content(_Template_Path+"/images/icon_new.gif"));width: 44px;height: 44px;"></p>
            	        <a href="@Url.Action("Index","FrontSanPhamDetail",new { id = item.id})"><img src="@Url.Content("~/_Upload/HinhAnh/"+item._get_hinhanh_macdinh().duongdan_thumb)" style="max-width:200px; height:150px;z-index:-1" alt="Shoes @i" /></a>
                        <a href="@Url.Action("Index","FrontSanPhamDetail",new { id = item.id})"><h3>@item.ten</h3></a>
                        <p class="product_price">@item.gia đ</p>
                        var ctspid = 0;
                        foreach (var k in item.ds_chitietsp.Where(x => x.active == true).ToList())
                        {
                            if (k.soluong > 0) { ctspid = k.id; break; }
                        }
                    if(ctspid==0)
                    {
                        <a href="" onclick="alert('Rất tiếc, sản phẩm này đã hết hàng, xin vui lòng chọn sản phẩm khác!');" class="addtocart">Thêm vào giỏ</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Add_Or_Update", "FrontCart", new { sanphamid = item.id, ctsp_id = ctspid, soluong = 1 })" class="addtocart">Thêm vào giỏ</a>}
                         <a href="@Url.Action("Index", "FrontSanPhamDetail", new { id = item.id })" class="detail">Xem chi tiết</a>
                        @: </div>   
                        if(i%3==0)
                       {               
                     @: <div class="cleaner"></div>      	
                       }
                        i++;
                    }
                    }
</div>

