@{
    //ViewBag.Title = "Index";
    //ViewBag.ActiveTab
    var NhanVien = (qdtest.Models.NhanVien)ViewBag.NhanVien;
    var LoaiNhanVien_List = (List<qdtest.Models.LoaiNhanVien>)ViewBag.LoaiNhanVien_List;
    var State = (List<String>)ViewBag.State;
}
<div id="main">
	<div id="content">
		<div class="toolbar-placeholder">
			<div class="toolbarBox toolbarHead">
				<ul class="cc_button">
					<li>
					<a id="desc-employee-save" class="toolbar_btn" href="#" title="Save">
					<span class="process-icon-save "></span>
					<div>
						Lưu
					</div>
					</a>
					</li>
					<li>
					<a id="desc-employee-back" class="toolbar_btn" href="@Url.Action("Index","AdminUsers")" title="Back to list">
					<span class="process-icon-back "></span>
					<div>
						 Quay lại
					</div>
					</a>
					</li>
				</ul>
				<script language="javascript" type="text/javascript">
				    //<![CDATA[
				    var submited = false
				    var modules_list_loaded = false;
				    $(function () {
				        //get reference on save link
				        btn_save = $('span[class~="process-icon-save"]').parent();
				        //get reference on form submit button
				        btn_submit = $('#employee_form_submit_btn');
				        if (btn_save.length > 0 && btn_submit.length > 0) {
				            //get reference on save and stay link
				            btn_save_and_stay = $('span[class~="process-icon-save-and-stay"]').parent();
				            //get reference on current save link label
				            lbl_save = $('#desc-employee-save div');
				            //override save link label with submit button value
				            if (btn_submit.val().length > 0)
				                lbl_save.html(btn_submit.attr("value"));
				            if (btn_save_and_stay.length > 0) {
				                //get reference on current save link label
				                lbl_save_and_stay = $('#desc-employee-save-and-stay div');
				                //override save and stay link label with submit button value
				                if (btn_submit.val().length > 0 && lbl_save_and_stay && !lbl_save_and_stay.hasClass('locked')) {
				                    lbl_save_and_stay.html(btn_submit.val() + " and stay ");
				                }
				            }
				            //hide standard submit button
				            btn_submit.hide();
				            //bind enter key press to validate form
				            $('#employee_form').keypress(function (e) {
				                if (e.which == 13 && e.target.localName != 'textarea')
				                    $('#desc-employee-save').click();
				            });
				            //submit the form
				            btn_save.click(function () {
				                // Avoid double click
				                if (submited)
				                    return false;
				                submited = true;
				                //add hidden input to emulate submit button click when posting the form -> field name posted
				                btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + '" value="1" />');
				                $('#employee_form').submit();
				                return false;
				            });
				            if (btn_save_and_stay) {
				                btn_save_and_stay.click(function () {
				                    //add hidden input to emulate submit button click when posting the form -> field name posted
				                    btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + 'AndStay" value="1" />');
				                    $('#employee_form').submit();
				                    return false;
				                });
				            }
				        }
				    });
				    //]]>
			</script>
				<div class="pageTitle">
					<h3>
					<span id="current_obj" style="font-weight: normal;">
					<span class="breadcrumb item-0 ">Administration <img alt=">" style="margin-right:5px" src="../img/admin/separator_breadcrumb.png"> </span>
					<span class="breadcrumb item-1 ">Users <img alt=">" style="margin-right:5px" src="../img/admin/separator_breadcrumb.png"> </span>
					<span class="breadcrumb item-2 ">Edit </span>
					</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="leadin">
		</div>
		<form id="employee_form" class="defaultForm AdminEmployees" action="@Url.Action("Submit","AdminUser")" method="post" enctype="multipart/form-data">
			<input name="nhanvien_id" id="id_employee" value="@NhanVien.id" type="hidden">
			<fieldset id="fieldset_0">
				<legend>
				<img src="../img/admin/nav-user.gif" alt="Employees"> User </legend>
				<label>Tên đăng nhập:</label>
				<div class="margin-form">
					<input name="nhanvien_tendangnhap" id="firstname" value="@NhanVien.tendangnhap" class="" size="33" type="text">
					<sup>*</sup>
                    <span style="color: red;">
                        @if(State.Contains("tendangnhap_fail")) { <text> Không hợp lệ</text> }
                        @if (State.Contains("tendangnhap_exist_fail"))
                        { <text> Tên đăng nhập này đã có người sử dụng</text> }
                    </span>
				</div>
				<div class="clear">
				</div>
				<label>Tên đầy đủ:</label>
				<div class="margin-form">
					<input name="nhanvien_tendaydu" Value="@NhanVien.tendaydu" class="" size="33" type="text">
					<sup>*</sup>
                    <span style="color: red;">
                        @if(State.Contains("tendaydu_fail")) { <text> Không hợp lệ</text> }
                    </span>
				</div>
				<div class="clear">
				</div>
				<label>Mật khẩu: </label>
				<div class="margin-form">
					<input name="nhanvien_matkhau" size="33" class="" value="@NhanVien.matkhau" type="password">
					<sup>*</sup>
                    <span style="color: red;">
                        @if(State.Contains("matkhau_fail")) { <text> Mật khẩu không khớp</text> }
                    </span>
				</div>
				<div class="clear">
				</div>
                <label>Xác nhận mật khẩu: </label>
				<div class="margin-form">
					<input name="nhanvien_matkhau2" size="33" class="" value="@NhanVien.matkhau" type="password">
					<sup>*</sup>
                    <span style="color: red;">
                        @if(State.Contains("matkhau_fail")) { <text> Mật khẩu không khớp</text> }
                    </span>
				</div>
				<div class="clear">
				</div>
				<label>Email: </label>
				<div class="margin-form">
					<input name="nhanvien_email" id="email" value="@NhanVien.email" class="" size="33" type="text">
					<sup>*</sup>
                    <span style="color: red;">
                        @if(State.Contains("email_fail")) { <text> Không hợp lệ</text> }
                        @if (State.Contains("email_exist_fail"))
                        { <text> Email này đã có người sử dụng</text> }
                    </span>
				</div>
				<div class="clear">
				</div>
				<label>Active: </label>
				<div class="margin-form">
					<input name="nhanvien_active" id="active_on" value="1" @if(@NhanVien.active==true) {<text>checked="checked"</text>} type="radio">
					<label class="t" for="active_on">
					<img src="../img/admin/enabled.gif" alt="Enabled" title="Enabled">
					</label>
					<input name="nhanvien_active" id="active_off" value="0" @if(@NhanVien.active==false) {<text>checked="checked"</text>} type="radio">
					<label class="t" for="active_off">
					<img src="../img/admin/disabled.gif" alt="Disabled" title="Disabled">
					</label>
                    <span style="color: red;">
                        @if (State.Contains("self_active_edit_fail"))
                        { <text> Không thể tự mình thay đổi Active được!</text> }
                    </span>
					<p class="preference_description">
						 Cho phép người dùng đăng nhập vào hệ thống
					</p>
				</div>
				<div class="clear">
				</div>
				<label>Nhóm người dùng:</label>
				<div class="margin-form">
					<select name="nhanvien_loainhanvien_id" class="" id="id_profile">
						@foreach(var lnv_obj in LoaiNhanVien_List)
                        {
                        <text>
                        <option value="@lnv_obj.id" @if(NhanVien.loainhanvien.id==lnv_obj.id) {<text>selected="selected"</text>}>@lnv_obj.ten</option>
                        </text>
                        }
					</select>
					<sup>*</sup>
                    <span style="color: red;">
                        @if (State.Contains("self_loainguoidung_edit_fail"))
                        { <text> Không thể tự mình thay đổi Nhóm người dùng được!</text> }
                    </span>
				</div>
				<div class="clear">
				</div>
				<div class="margin-form">
					<input style="display: none;" id="employee_form_submit_btn" value="Save" name="submitAddemployee" class="button" type="submit">
				</div>
				<div class="small">
					<sup>*</sup> Trường bắt buộc
				</div>
			</fieldset>
		</form>
		<script type="text/javascript">
		    var module_dir = '/ps/modules/';
		    var id_language = 1;
		    var languages = new Array();
		    var vat_number = 1;
		    // Multilang field setup must happen before document is ready so that calls to displayFlags() to avoid
		    // precedence conflicts with other document.ready() blocks
		    languages[0] = {
		        id_lang: 1,
		        iso_code: 'en',
		        name: 'English (United States)',
		        is_default: '1'
		    };
		    // we need allowEmployeeFormLang var in ajax request
		    allowEmployeeFormLang = 0;
		    displayFlags(languages, id_language, allowEmployeeFormLang);
		    $(document).ready(function () {
		        if ($(".datepicker").length > 0)
		            $(".datepicker").datepicker({
		                prevText: '',
		                nextText: '',
		                dateFormat: 'yy-mm-dd'
		            });
		    });
		    $(document).ready(function () {
		        $('select[name=id_profile]').change(function () {
		            ifSuperAdmin($(this));
		            $.ajax({
		                url: "index.php?controller=AdminEmployees&token=0eb4238fbc37dd9ef96cdfa5f4b6b90c",
		                cache: false,
		                data: {
		                    ajax: '1',
		                    action: 'getTabByIdProfile',
		                    id_profile: $(this).val()
		                },
		                dataType: 'json',
		                success: function (resp, textStatus, jqXHR) {
		                    if (resp != false) {
		                        $('select[name=default_tab]').html('');
		                        $.each(resp, function (key, r) {
		                            if (r.id_parent == 0) {
		                                $('select[name=default_tab]').append('<optgroup label="' + r.name + '"></optgroup>');
		                                $.each(r.children, function (k, value) {
		                                    $('select[name=default_tab]').append('<option value="' + r.id_tab + '">' + value.name + '</option>')
		                                });
		                            }
		                        });
		                    }
		                }
		            });
		        });
		        ifSuperAdmin($('select[name=id_profile]'));
		    });
		    function ifSuperAdmin(el) {
		        var val = $(el).val();
		        if (!val || val == 1) {
		            $('.assoShop input[type=checkbox]').attr('disabled', true);
		            $('.assoShop input[type=checkbox]').attr('checked', true);
		        }
		        else
		            $('.assoShop input[type=checkbox]').attr('disabled', false);
		    }
	</script>
		<div style="clear:both;height:0;line-height:0">
			 &nbsp;
		</div>
	</div>
	<div style="clear:both;height:0;line-height:0">
		 &nbsp;
	</div>
</div>