@{
    //ViewBag.Title
    var donhang = (qdtest.Models.DonHang)ViewBag.donhang;
    var State = (List<String>)ViewBag.State;
}
<div id="main">
    <div id="content">
        @if(State.Contains("edit_ok"))
        {
        <div class="conf">
		Cập nhật thành công
	    </div>
        }
        <div class="toolbar-placeholder">
            <div class="toolbarBox toolbarHead">
                <ul class="cc_button">
                    <li>
                        <a id="desc-order-back" class="toolbar_btn" href="@Url.Action("Index","AdminDonHangs")" title="Back to list">
                            <span class="process-icon-back "></span>
                            <div>
                                Trở về
                            </div>
                        </a>
                    </li>
                </ul>
                <script language="javascript" type="text/javascript">
                    //<![CDATA[
                    var submited = false
                    var modules_list_loaded = false;
                    $(function () {
                        //get reference on save link
                        btn_save = $('span[class~="process-icon-save"]').parent();
                        //get reference on form submit button
                        btn_submit = $('#order_form_submit_btn');
                        if (btn_save.length > 0 && btn_submit.length > 0) {
                            //get reference on save and stay link
                            btn_save_and_stay = $('span[class~="process-icon-save-and-stay"]').parent();
                            //get reference on current save link label
                            lbl_save = $('#desc-order-save div');
                            //override save link label with submit button value
                            if (btn_submit.val().length > 0)
                                lbl_save.html(btn_submit.attr("value"));
                            if (btn_save_and_stay.length > 0) {
                                //get reference on current save link label
                                lbl_save_and_stay = $('#desc-order-save-and-stay div');
                                //override save and stay link label with submit button value
                                if (btn_submit.val().length > 0 && lbl_save_and_stay && !lbl_save_and_stay.hasClass('locked')) {
                                    lbl_save_and_stay.html(btn_submit.val() + " and stay ");
                                }
                            }
                            //hide standard submit button
                            btn_submit.hide();
                            //bind enter key press to validate form
                            $('#order_form').keypress(function (e) {
                                if (e.which == 13 && e.target.localName != 'textarea')
                                    $('#desc-order-save').click();
                            });
                            //submit the form
                            btn_save.click(function () {
                                // Avoid double click
                                if (submited)
                                    return false;
                                submited = true;
                                //add hidden input to emulate submit button click when posting the form -> field name posted
                                btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + '" value="1" />');
                                $('#order_form').submit();
                                return false;
                            });
                            if (btn_save_and_stay) {
                                btn_save_and_stay.click(function () {
                                    //add hidden input to emulate submit button click when posting the form -> field name posted
                                    btn_submit.before('<input type="hidden" name="' + btn_submit.attr("name") + 'AndStay" value="1" />');
                                    $('#order_form').submit();
                                    return false;
                                });
                            }
                        }
                    });							//]]>
                </script>
                <div class="pageTitle">
                    <h3>
                        <span id="current_obj" style="font-weight: normal;">
                            <span class="breadcrumb item-0 ">Đơn hàng <img alt="&gt;" style="margin-right:5px" src="../img/admin/separator_breadcrumb.png"/>
					</span>
					<span class="breadcrumb item-1 ">Chi tiết </span>
					</span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="leadin">
        </div>
        <div class="bloc-command">

            <div class="metadata-command">
                <dl>
                    <dt>Ngày: </dt>
                    <dd>@donhang._get_ngay()</dd>
                    |
                </dl>


                <dl>
                    <dt>Số sản phẩm: </dt>
                    <dd id="product_number">@donhang.ds_chitiet_donhang.Count</dd>
                    |
                </dl>
                <dl>
                    <dt>Tổng tiền: </dt>
                    <dd class="total_paid">@donhang._get_tongtien()</dd>
                    |
                </dl>
                <dl>
                    <dt>Nhân viên tiếp nhận đơn hàng: </dt>
                    <dd class="total_paid">
                        @if(donhang.nhanvien==null)
                        {
                            @:(Chưa có nhân viên xử lý)
                        }
                        else
                        {
                            @donhang.nhanvien.tendaydu   
                        }
                    </dd>
                    |
                </dl>
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="container-command">
            <!-- Left column -->
            <div style="width: 49%; float: left;">
                <br>
                <!-- History of status -->
                <!-- Customer informations -->
                <br>
                <fieldset>
                    <legend>
                        <img src="../img/admin/tab-customers.gif">
                        Thông tin khách hàng

                    </legend>
                    <span style="font-weight: bold; font-size: 14px;">
                        Họ tên:
                        <a href="@donhang._get_url_to_khachhang_both()">
                            @donhang._get_khachhang_tendaydu()
                        </a>

                    </span>
                    <br>
                    <br>
                    Email: 
                    <a href="mailto:@donhang._get_khachhang_email()">@donhang._get_khachhang_email()</a>
                    <br>
                    Số điện thoại: 
                    @donhang._get_khachhang_sdt()
                    <br>
                    Địa chỉ: 
                    @donhang._get_khachhang_diachi()
                    <br>
                </fieldset>
                <!-- Sources block -->
                <!-- Admin order hook -->
            </div>
            <!-- END Left column -->
            <!-- Right column -->
            <div style="width: 49%; float: right;">
                <div class="button-command-prev-next">
                    <b>&nbsp;</b>
                </div>
                <div class="clear">
                </div>
                <!-- linked orders block -->
                <!-- Documents block -->
                <br>
                <!-- Payments block -->
                <fieldset>
                    <legend>
                        <img src="../img/admin/money.gif">
                        Phương thức thanh toán:

                    </legend>
                    -Phương thức: @if (donhang.thanhtoan_tructuyen)
                    {
                        @:thanh toán trực tuyến
                    }
                    else
                    {
                        @:thanh toán tại nhà
                    }
                    <br />
                    -Trạng thái:
                    @if (donhang.trangthai.Equals("dabihuy"))
                    {
                        @: <strong>Đã bị hủy</strong>
                    }
                    else
                    {
                    <form action="@Url.Action("Submit","AdminDonHang")" method="post">
                        <input type="hidden" name="donhang_id" value="@donhang.id" />
                        <select name="donhang_trangthai">
                            <option value="chualienlac" @if(donhang.trangthai.Equals("chualienlac")) {<text>selected="selected"</text>}>Chưa liên lạc - đơn hàng mới</option>
                            <option value="chuagiao" @if(donhang.trangthai.Equals("chuagiao")) {<text>selected="selected"</text>}>Chưa giao</option>
                            <option value="dagiao" @if(donhang.trangthai.Equals("dagiao")) {<text>selected="selected"</text>}>Đã giao - hoàn tất</option>
                            <option value="dabihuy" @if(donhang.trangthai.Equals("dabihuy")) {<text>selected="selected"</text>}>Đã bị hủy</option>
					    </select>
                        <br />
                        <br />
                        <input type="submit" name="submit" class="button" value="Lưu"/>
                    </form>
                    }
                </fieldset>
                <br>
                <!-- Shipping block -->
                <fieldset>
                    <legend>
                        <img src="../img/admin/delivery.gif">
                        Thông tin vận chuyển (thông tin người nhận)

                    </legend>
                    <strong>Họ tên:</strong> @donhang.nguoinhan_ten
                    <br />
                    <strong>Số điện thoại:</strong> @donhang.nguoinhan_sdt
                    <br />
                    <strong>Địa chỉ:</strong> @donhang.nguoinhan_diachi, @donhang.nguoinhan_diachi_tinhtp.ten
                    (@if(donhang.nguoinhan_diachi_tinhtp.noithanh)
                    {
                        @:nội thành
                    }
                    else
                    {
                        @:ngoại thành   
                    })
                    <br />
                    <strong>Phí vận chuyển: </strong>@donhang._get_phivanchuyen()
                    <div class="clear" style="margin-bottom: 10px;">
                    </div>

                </fieldset>
                <br>
                <!-- Return block -->
            </div>
            <!-- END Right column -->
            <div class="clear" style="margin-bottom: 10px;">
            </div>
        </div>
        <div class="container-command container-command-top-spacing">
            <!-- Addresses -->
            <div style="width: 49%; float: left;">
                <!-- Shipping address -->
            </div>
            <div style="width: 49%; float: right;">
                <!-- Invoice address -->
            </div>
            <div class="clear" style="margin-bottom: 10px;">
            </div>
        </div>
        <form style="width: 98%" class="container-command-top-spacing" action="#" method="post">
            <fieldset style="width: 100%;">
                <div style="display: none">
                    
                </div>
                <legend>
                    <img src="../img/admin/cart.gif" alt="Products:">Danh sách sản phẩm:</legend>
                <div style="float: left; width: 100%;">
                    <div style="float: left;">
                    </div>
                    <div style="float: right; margin-right: 10px" id="refundForm">
                        
                    </div>
                    <br clear="left">
                    <br>
                    <table style="width: 100%;" cellspacing="0" cellpadding="0" class="table" id="orderProducts">
                        <tbody>
                            <tr>
                                <th height="39" align="center" style="width: 10%; text-align:center">Hình ảnh
                                </th>
                                <th>Tên sản phẩm
                                </th>
                                <th style="width: 10%;">Màu
                                </th>
                                <th style="width: 10%;">Kích thước
                                </th>
                                <th style="width: 15%; text-align: center">Đơn giá
                                </th>
                                <th style="width: 1%; text-align: center">
                                </th>
                                <th style="width: 10%; text-align: center">Số lượng
                                </th>
                                <th style="width: 1%; text-align: center">
                                </th>
                                <th style="width: 15%; text-align: center">Tổng cộng
                                </th>

                            </tr>
                            @foreach(var item in donhang.ds_chitiet_donhang)
                            {
                            <tr height="52">
                                <td align="center">
                                    <img src="@item.chitietsp.sanpham._get_hinhanh_macdinh()._get_duongdan_thumb_url()" alt="" class="imgm" style="max-width:70px; max-height:70px">
                                </td>
                                <td>
                                    <a href="@Url.Action("Index", "AdminSanPham", new { id=item.chitietsp.sanpham.id })">
                                        <span class="productName">@item.chitietsp.sanpham.ten</span><br>
                                    </a>
                                </td>
                                <td>
                                    <span class="productName" style="color:@item.chitietsp.mausac.mamau ;">@item.chitietsp.mausac.giatri</span><br>
                                    
                                </td>
                                <td>
                                    <span class="productName">@item.chitietsp.kichthuoc.giatri</span><br>
                                </td>
                                <td align="center">
                                    <span class="product_price_show">@qdtest._Library.TextLibrary.ToCommaStringNumber(item.dongia) VNĐ</span>
                                </td>
                                <td align="center">
                                    <span class="product_price_show">X</span>
                                </td>
                                <td align="center" class="productQuantity product_stock">@item.soluong
                                </td>
                                <td align="center">
                                    <span class="product_price_show">=</span>
                                </td>
                                <td align="center" class="total_product">@item._get_total() VNĐ
                                </td>
                                
                            </tr>
                            }
                        </tbody>
                    </table>

                    <div style="float: right; margin-top: 20px;">
                        <table class="table" width="450px;" style="border-radius: 0px;" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr id="total_products">
                                    <td width="180px;">
                                        <b>Phí mua sản phẩm (1):</b>
                                    </td>
                                    <td class="amount" align="right"> @donhang._get_tongtien_notinclude_phivanchuyen() VNĐ
                                    </td>
                                    <td class="partial_refund_fields current-edit" style="display: none;">&nbsp;
                                    </td>
                                </tr>
                               
                                <tr>
                                    <td>
                                        <b>Phí vận chuyển (2):</b>
                                    </td>
                                    <td class="amount" align="right">@donhang._get_phivanchuyen() VNĐ
                                    </td>
                                    
                                </tr>
                                @if(@donhang.__get_giamgia()>0)
                                {
                                <tr>
                                    <td>
                                        <b>Giảm giá:</b>
                                    </td>
                                    <td class="amount" align="right">@donhang._get_giamgia() VNĐ
                                    </td>
                                    
                                </tr>
                                }
                                <tr style="font-size: 16px" id="total_order">
                                    <td style="font-size: 16px">
                                        <strong>Tổng tiền = (1) + (2):</strong>
                                    </td>
                                    <td class="amount" style="font-size: 16px" align="right">
                                        <strong>
                                        @donhang._get_tongtien() VNĐ
                                            </strong>
                                    </td>
                                    <td class="partial_refund_fields current-edit" style="display: none;">&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div style="clear: both; height: 15px;">
                    &nbsp;
                </div>
                <div style="float: right; width: 160px; display: none;" class="standard_refund_fields">
                    <div style="text-align: center; margin-top: 5px;">
                        
                    </div>
                </div>
                <div style="float: right; width: 160px; display: none;" class="partial_refund_fields">
                    
                </div>
            </fieldset>
        </form>
        <div class="clear" style="height: 20px;">
            &nbsp;
        </div>
        <div style="float: left">
        </div>
        <div class="clear">
            &nbsp;
        </div>
        <br>
        
        <div style="clear: both; height: 0; line-height: 0">
            &nbsp;
        </div>
    </div>
    <div style="clear: both; height: 0; line-height: 0">
        &nbsp;
    </div>
</div>
